{%extends 'sections/base.html'%}
{%load static%}
{% load humanize %}
{%block content%}

    <head>
        <style>
            input[type="range"] {
            -webkit-appearance: none;
            margin-right: 15px;
            height: 7px;
            background: rgba(255, 255, 255, 0.6);
            border-radius: 5px;
            background-image: linear-gradient(#3bb77e, #3bb77e);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            }
            input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: #3bb77e;
            cursor: ew-resize;
            box-shadow: 0 0 2px 0 #555;
            transition: background .3s ease-in-out;
            }
            input[type=range]::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
            }
            </style>
    </head>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Shop <span></span> Filters
                </div>
            </div>
        </div>
        <div class="container mb-30 mt-30">
            <div class="row">
                <div class="col-lg-12">
                    <a class="shop-filter-toogle" href="#">
                        <span class="fi-rs-filter mr-5"></span>
                        Filters
                        <i class="fi-rs-angle-small-down angle-down"></i>
                        <i class="fi-rs-angle-small-up angle-up"></i>
                    </a>
                    <div class="shop-product-fillter-header">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2">
                                <div class="card">
                                    <h5 class="mb-30">By Categories</h5>
                                    <div class="categories-dropdown-wrap font-heading">
                                        <ul>
                                            {% for category in categories%}
                                            <li>
                                                <input class="form-check-input filter-checkbox" data-filter="category" type="checkbox" name="checkbox" value="{{category.category_id}}" />
                                                &nbsp;&nbsp;
                                                <a href="{% url 'core:categoryproductslist' category.category_id %}"> <img src="{{category.image.url}}" alt="" />{{category.title}}</a>
                                            </li>
                                           {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2">
                                <div class="card">
                                    <h5 class="mb-30">By Vendors</h5>
                                    <div class="d-flex">
                                        <div class="custom-checkbox mr-80">
                                            {% for vendor in vendors%}
                                            <input class="form-check-input filter-checkbox" data-filter="vendor" type="checkbox" name="checkbox" id="exampleCheckbox1" value="{{vendor.vendor_id}}" />
                                            <label class="form-check-label" for="exampleCheckbox1"><span>{{vendor.title}}</span></label>
                                            <br />
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-5 mb-sm-5">
                                <div class="card">
                                    <h5 class="mb-10">By Price</h5>
                                    <div class="sidebar-widget price_range range">
                                        <div class="price-filter mb-20">
                                            <div class="price-filter-inner">
                                                <!--<div id="slider-range" class="mb-20"></div>-->
                                                <input class="slider-range" value="{{min_max_price.price__min|floatformat:2}}" type="range" name="range" id="range" type="range" max="{{min_max_price.price__max}}" min="{{min_max_price.price__min}}" oninput="max_price.value=this.value">
                                                <div class="d-flex justify-content-between">
                                                    <div class="caption">From: <strong id="slider-range-value1" class="text-brand">{{min_max_price.price__min|floatformat:2}}</strong></div>
                                                    <div class="caption">To: <strong id="slider-range-value2" class="text-brand">{{min_max_price.price__max|floatformat:2}}</strong></div>
                                                </div>
                                                <input type="number" value="{{min_max_price.price__max|floatformat:2}}" name="" id="max_price" min="{{min_max_price.price__min}}" max="{{min_max_price.price__max}}" placeholder="Current Price" onkeyup="range.value=this.value"/>
                                            </div>
                                        </div>
                                        <div class="custome-checkbox">
                                            <button class="btn mt-20 w-100" type="button" id="price-filter-btn">Filter</button>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row product-grid" id="filtered-product">
                        {% for product in products %}
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'core:productdetailview' product.product_id %}">
                                            <img class="default-img" src="{{product.image.url}}" alt="" />
                                            <img class="hover-img" src="{{product.image.url}}" alt="" />
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Quick view" class="action-btn" href ="{%url 'core:productdetailview' product.product_id %}" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">-{{product.get_percentage_off|floatformat:0}}%</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                            <a href="{% url 'core:categoryproductslist' product.category.category_id %}">{{product.category}}</a>
                                    </div>
                                    <h2><a href="{% url 'core:productdetailview' product.product_id %}">{{product.title}}</a></h2>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    <div>
                                        <span class="font-small text-muted">By <a href="vendor-details-1.html">{{product.vendor}}</a></span>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            <span>Ksh</span><span id="current-product-price-{{product.id}}"> {{product.price|floatformat:2|intcomma}}</span>
                                            <span class="old-price">{{product.standard_price|floatformat:2|intcomma}}</span>
                                        </div>
                                        <div class="add-cart">
                                            <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{product.id}}">
                                            <input type="hidden" class="product-productid-{{product.id}}" value="{{product.product_id}}">
                                            <input type="hidden" class="product-image-{{product.id}}" value="{{product.image.url}}">
                                            <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}">
                                            <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}">
                                            <button class="add add-to-cart-btn" data-index="{{product.id}}" ><i class="fi-rs-shopping-cart mr-5"></i>Add </button>
                                        </div>
                                        <button style="border: none; background: none;" class="add-to-wishlist " data-product-item="{{product.id}}"><i
                                            class="fi-rs-heart" style="fill: aqua;"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                        <!--end product card-->
                       
                    <!--product grid pagination-->
                    {% comment %} <div class="pagination-area mt-20 mb-20">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fi-rs-arrow-small-left"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div> {% endcomment %}
                  
                </div>
            </div>
        </div>
    </main>
{%endblock%}