{%load static%}
{% load humanize %}
{%block content%}

<div class="row product-grid">
    {% for product in products %}
    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
        <div class="product-cart-wrap mb-30">
            <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                    <a href="{% url 'core:productdetailview' product.product_id %}">
                        <img class="default-img" src="{{product.image.url}}" alt="" />
                        <img class="hover-img" src="{{product.image.url}}" alt="" />
                    </a>
                </div>
                <div class="product-action-1">
                    <a aria-label="Quick view" class="action-btn" href ="{%url 'core:productdetailview' product.product_id %}" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                </div>
                <div class="product-badges product-badges-position product-badges-mrg">
                    <span class="hot">-{{product.get_percentage_off|floatformat:0}}%</span>
                </div>
            </div>
            <div class="product-content-wrap">
                <div class="product-category">
                        <a href="{% url 'core:categoryproductslist' product.category.category_id %}">{{product.category}}</a>
                </div>
                <h2><a href="{% url 'core:productdetailview' product.product_id %}">{{product.title}}</a></h2>
                <div class="product-rate-cover">
                    <div class="product-rate d-inline-block">
                        <div class="product-rating" style="width: 90%"></div>
                    </div>
                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                </div>
                <div>
                    <span class="font-small text-muted">By <a href="vendor-details-1.html">{{product.vendor}}</a></span>
                </div>
                <div class="product-card-bottom">
                    <div class="product-price">
                        <span>ksh {{product.price|floatformat:2|intcomma}}</span>
                        <span class="old-price">{{product.standard_price|floatformat:2|intcomma}}</span>
                    </div>
                    <div class="add-cart">
                        <a class="add" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
 
{%endblock%}